{% extends 'layout.html' %}

{% block title %}Sign in{% endblock%}

{% block style %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content%}
    <div class="content">
        <div class="welcome">WELCOME</div>
        <div class="logo">A</div>
        <form action="/home" method="POST">
            <div class="input-group">
                <input type="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-group">
                <input type="submit" value="Login">
            </div>
        </form>
        <a href="http://127.0.0.1:5000/signup" class="link">Hesabın yok mu? <em>Yeni hesap oluştur.</em></a>
    </div>
    {% block script %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
{% endblock %}